<% provide(:title, 'Try it for free') %>
<body>
<div class="center hero-unit">
	<div class="center row-fluid">
		<div class="span10 offset1">
			<h1>Sick of not knowing what is on the mind of your team?</h1>
			<h2>Keep your finger on the pulse of what your team is up to</h2>
		</div>
	</div>
</div>

<div class="homebullets">
	<div class="row-fluid">
		<div class="span8 offset2">
		<ul>
			<li>Each week your team gets an email reminding them to answer a few questions</li>
			<li>It just takes 5 to 10 minutes to answer the questions</li>
			<li>You get a summary report of everyone's answers and know what's going on!</li>
			<li>Great for managing distributed employees, volunteers and other organizations</li>
		</ul>
	</div>
	</div>
</div>
<div class="moreinfohome">
	<div class="row-fluid">
	  <div class="span4">
	  	<p>You may have numbers out the wazoo: page views, revenue, visitors, customer contacts but what about knowing what your employees are up to?</p>
			<p>Don't waste time in endless meetings and calls. Get a quick view from everyone in your business in minutes.</p>
		</div>
	  <div class="span4">
			<p>Effortlessly stay on top of what's going on with your contractors and employees</p>
			<p>Never lose track of what's happening with your employees</p>
			<p>Keep any project or team on track effortlessly</p>
		</div>
	  <div class="span4">
			<p>Get an automated digest of all of your employees activities</p>
			<p>Stamp out problems </p>
			<p>Help your employees and contractors become more effective</p>
			<p>No more calling and email asking, what's going on?</p>
		</div>
	</div>
</div>
<section class="homepagebutton center">
	<%= link_to "Try it for free", signup_path, class: "center btn btn-large btn-primary" %>
</section>
</body>