<% provide(:title, 'Sign Up') %>
<body>
<h1>Sick of not knowing what is on the mind of your team?</h1>
<h2>Keep your finger on the pulse of your business</h2>
	<ul>
		<li>Each week your team gets a few questions to answer</li>
		<li>It just takes 5 to 10 minutes to answer them</li>
		<li>You get a summary of everyone's answers and know what's going on!</li>
	</ul>
<p>You may have numbers out the wazoo: page views, revenue, visitors, customer contacts but what about knowing what your employees are up to?</p>
<p>Don't waste time in endless meetings and calls. Get a quick view from everyone in your business in minutes.</p>
<p>Effortlessly stay on top of what's going on with your contractors and employees</p>
<p>Never lose track of what's happening with your employees</p>
<p>Keep any project or team on track effortlessly</p>
<p>Get an automated digest of all of your employees activities/p>
<p>Stamp out problems </p>
<p>Help your employees and contractors become more effective</p>
<p>No more calling and email asking, what's going on?</p>
<button>Try it for free</button>
</body>