<% provide(:title, 'Welcome') %>

<h1>Welcome</h1>
<p>Please add the emails of the people on your team. When you hit submit they will be invited to create their account and they will be added to your team.</p>

